.navbar-title {
display: flex;
list-style: none;
gap: 2rem;
align-items: center;
}
.navbar-title > li >a{
  float: left;
  color: #fff;
  text-decoration: none;
}
.brand{
  display: flex;
  align-items: center;
}
.brand-name{
  color: #CCFFFF;
  font-size: 32px;
}
