<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <div class="brand">
      <div class="logo-brand">
        <a class="navbar-brand" routerLink="/products">
          <img
            src="../../assets/logo for electr 0.png"
            alt=""
            width="40"
            height="40"
          />
        </a>
      </div>
      <div class="brand-name"><span>Nad Tech Shop</span></div>
    </div>
    <div class="navbar">
      <ul class="navbar-title">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/category">Category</a></li>
        <li><a routerLink="/home">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
