<div class="card-item">
  <div class="card" style="width: 18rem">
    <img src="../../assets/carddohoa.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Buy Noww</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../assets/carddohoa.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Buy Noww</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../assets/carddohoa.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Buy Noww</a>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../assets/carddohoa.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Buy Noww</a>
    </div>
  </div>
</div>
<div class="results">
  <p *ngFor="let result of results">{{result.title}}</p>
</div>


