<div class="form">
  <div class="login-form">
    <form action="" method="post">
      <div class="imgcontainer">
        <img
          style="width: 80px; height: 80px"
          src="../../assets/user.png"
          alt="Avatar"
          class="avatar"
        />
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="psw"
          required
        />

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember" /> Remember
          me
        </label>
      </div>

      <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw"> <a href="#">Forgot password?</a></span>
      </div>
    </form>
  </div>
</div>
