<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/slider1.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item ">
        <img src="../../assets/slider2.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/slider3.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/slider4.webp" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/slider5.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>